body {
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

#arena {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    box-sizing: border-box;
}

#painel_vida {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#containerVidas {
    display: flex;
}

.coracoes_vida {
    width: 5dvw;
    height: 15dvh;
    background-image: url('./img/vidaCheia.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    background-size: 30dvw;
}

.coracoes_vazio {
    width: 5dvw;
    height: 15dvh;
    background-image: url('./img/vidaVazia.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    background-size: 30dvw;
}

#fundo_cima {
    height: 50dvh;
    width: 100%;  
    z-index: 1000;

}

#fundo_baixo {
    height: 50dvh;
    width: 100%;
    background-image: url(./img/cenarios/fundoGrama.svg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 50dvw;
    z-index: 1000;
}

#personagem {
    width: 8%;
    height: 20dvh;
    position: absolute;
    bottom: 12dvh;
    left: 0;
    z-index: 1000;
    background-image: url(./img/spritesPersonagens/direitaParado.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50dvw;
}

#questao {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
}

#tempo {
    display: flex;
    align-items: center;
    justify-content: center;

}

#opcoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 30dvh;
}

#container_opcoes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.opcao {
    width: 30%;
    height: 20dvh;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 10px solid cadetblue;
}

#parede_proxima{
    position: absolute;
    top: 0;
    right: 0;
    width: 7%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

#seta_proxima{
    width: 50%;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-top: 20%;
    animation: animacaoSeta 1s ease infinite;
}

#titulo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    color: white;
    display: none;
}

#video_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 97%;
    display: flex;
    background-color: rgba(255, 0, 0, 0.164);
    z-index: -1;
    display: none;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@keyframes animacaoSeta {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(10%);
    }
    40% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(10%);
    }
    80% {
        transform: translateX(0);
    }   
    100% {
        transform: translateX(0);
    }
}